body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;        
    display: block;
    background-image: url("/assets/img/honeycomb-background.avif");    
    background-color: white;
    background-attachment: fixed;
}

/* HEADER */
header {
    background-color: rgba(255, 255, 255, 0.95);
    color: #d4af37;
    padding: 10px 20px;
    text-align: right;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 4rem;
    /* border: 2px solid red; */
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
}

header .logo img {
    height: 60px;
}

header .logo h4 {
    margin-left: 0.5rem;
    text-align: start;
}

header .nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header .nav-item {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;    
    padding: 0.5rem;
    background-color: #ffeeb7;
    border-radius: 7px;
    display: block;
}

header a:hover {
    background-color: #d4af37;
    color: #ffeeb7;
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    width: 110px;
    display: block;
    text-align: center;    
}

.language-button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    appearance: none;    
    background-color: inherit;
}

.language-button:active {
    opacity: 0.6;
}

.language-button img {
    margin: 0;
    padding: 0;
    height: 34px;
}

.language-button img.l-gr {
    display: none;
}

header .ham-menu {
    display: none;
    background-color: #ffeeb7;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;    
    text-align: center;
}

header .ham-menu i {
    margin-top: 11px;
}

header .icon {
    color: black;    
}

header .ham-menu:hover {
    background-color: #d4af37;
}

header #ham-menu-items {
    display: none;
    position: absolute;
    margin-top: 4px;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 0 5px 5px;
    /* border: 2px solid red; */
}

header .ham-menu-item {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    padding-left: 2rem;
    height: 40px;
}

header .ham-menu-item.item-3 {
    border-radius: 0 0 5px 5px;
}

header .ham-menu-item:hover {
    background-color: #ffeeb7;
}

header .ham-menu-item:active {
    background-color: #d4af37;
}

/* FOOTER */
footer {
    background-color: #3d3d3d;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 7px 7px 0 0;
}

footer .footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

footer .footer-logo img {
    height: 40px;
    margin-right: 0.5rem;
}

footer .footer-content .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100px;
}

footer .footer-content .footer-links a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

footer .social {
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

footer .social a {
    color: inherit;
    text-decoration: none;
}

footer .social a:active {
    text-decoration: none;
}

footer .social a:visited {
    text-decoration: none;
}

footer .copyright {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Main Page */
.main-container {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100%;
    padding-bottom: 2rem;
}

.welcome-image-container {
    text-align: center;
    color: white;
}

.welcome-image-container img {
    width: 100%;
}

#welcome-text-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#welcome-text-container .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 0 2rem 0 2rem;
}

#welcome-text-container img {
    height: 50px;
    width: 50px;
}

/* Products - Main Page */
#products-scroll-container {
    display: flex;
    flex-direction: column;
}

.scroll {
    border-radius: 7px;
    display: flex;
    flex-direction: row;    
    overflow: auto;
    padding: 2rem 2rem 2rem 0;
    background-color: #EEF3F6;
    margin-bottom: 2rem;
}

.scroll .product {
    margin: 0 0 0 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 7px;    
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
}

.scroll .product:hover {
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
}

.scroll .product:active {
    opacity: 0.8;
}

.scroll .product-img {
    width: 250px;
    border-radius: 7px;
}

.scroll .product-text {
    margin-top: 1rem;
}

.scroll .product-price {
    font-size: 0.9rem;
    color: #009400;
}

/* Global button */
.btn {
    width: 150px;
    height: 40px;
    border: none;    
    border-radius: 7px;
    background-color: #EEF3F6;
    margin: auto;
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
    cursor: pointer;
    font-size: 1rem;    
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;    
    margin:auto;
}

.button-link {
    text-decoration: none;   
}

.button-link:active {
    text-decoration: none;
}

.button-link:visited {
    color: inherit;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
}

.btn:active {
    box-shadow: 5px 5px 15px rgb(156, 156, 156);
    transform: translate(0, -1px);
    -webkit-tap-highlight-color: transparent;
}

/* Contact-page */
#contact-container {
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-container .contact-form-container {
    width: 300px;
    background-color: #EEF3F6;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
    margin: auto;
}

#contact-container .contact-form {
    display: flex;
    flex-direction: column;    
}

#contact-container .contact-form .input-text{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 7px;
    padding: 0.5rem;
    box-shadow: inset 0 0 5px rgb(156, 156, 156);
}

#contact-container .contact-form textarea {
    resize: none;
    height: 10rem;
}

#contact-container .contact-form .contact-form-btn {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

#contact-container .contact-form .contact-form-btn:hover {
    box-shadow: 1px 1px 5px rgb(156, 156, 156);
    transition: box-shadow 0.2s ease-in-out;
}

#contact-container .map-container {
    width: 500px;
    height: 500px;
    margin: auto;    
}

#contact-container .map-container iframe {
    width: 100%;
    height: 100%;
}

/* Map */
#map {
    height: 400px;
    width: 100%;
}
.custom-marker {
    width: 20px;
    height: 20px;
    background-color: #d4af37;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/* Popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);    
    z-index: 1000;    
}

.popup-container {
    width: 500px;
    height: 50%;
    padding-bottom: 17rem;
    margin: auto;
    display: block;
}

.popup-content {
    background: #fff;
    border-radius: 7px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 1rem;
}

.popup-content img {
    width: 90%;
    height: auto;
    border-radius: 7px;
}

.popup-content .product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: start;
    width: auto;    
    padding: 0 1.5rem 0 1.5rem;
}

.close-btn-container {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 768px) {
    header nav ul{
        display: none;
    }

    header .ham-menu {
        display: block;
    }

    header .logo h4{
        display: none;
    }

    #welcome-text-container {
        display: block;
    }

    #welcome-text-container .welcome {
        width: 90%;
        padding: 0;
    }

    #contact-container {
        flex-direction: column;
    }

    #contact-container .map-container {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .popup-container {
        width: 60%;
    }
}

@media (max-width: 431px) {
    .popup-container {
        width: 90%;
    }
}