body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;        
    display: block;
    background-image: url("/assets/img/honeycomb-background.avif");    
    background-color: white;
    background-attachment: fixed;
}

/* HEADER */
header {
    background-color: rgba(255, 255, 255, 0.9);
    color: #d4af37;
    padding: 10px 20px;
    text-align: right;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 4rem;
    /* border: 2px solid red; */
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
}

header .logo img {
    height: 60px;
}

header .logo h4 {
    margin-left: 0.5rem;
    text-align: start;
}

header .nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header .nav-item {
    text-decoration: none;
    margin-left: 20px;    
    padding: 0.5rem;
    background-color: #ffeeb7;
    border-radius: 5px;
    display: block;
}

header a:hover {
    background-color: #d4af37;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    width: 110px;
    display: block;
    text-align: center;    
}

.language-button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    appearance: none;    
    background-color: inherit;
}

.language-button:active {
    opacity: 0.6;
}

.language-button img {
    margin: 0;
    padding: 0;
    height: 34px;
}

.language-button img.l-gr {
    display: none;
}

header .ham-menu {
    display: none;
    background-color: #ffeeb7;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;    
    text-align: center;
}

header .ham-menu i {
    margin-top: 11px;
}

header .icon {
    color: black;    
}

header .ham-menu:hover {
    background-color: #d4af37;
}

header #ham-menu-items {
    display: none;
    position: absolute;
    margin-top: 4px;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 0 5px 5px;
    /* border: 2px solid red; */
}

header .ham-menu-item {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    padding-left: 2rem;
    height: 40px;
}

header .ham-menu-item.item-3 {
    border-radius: 0 0 5px 5px;
}

header .ham-menu-item:hover {
    background-color: #ffeeb7;
}

header .ham-menu-item:active {
    background-color: #d4af37;
}

/* FOOTER */

/* Main Page */
.main-container {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 100%;
}

.welcome-image-container {
    text-align: center;
    color: white;
}

.welcome-image-container img {
    width: 100%;
}

#welcome-text-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#welcome-text-container .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 0 2rem 0 2rem;
}

#welcome-text-container img {
    height: 50px;
    width: 50px;
}

/* Products - Main Page */
#products-scroll-container {
    display: flex;
    flex-direction: column;
}

#honey-scroll {
    border-radius: 7px;
    display: flex;
    flex-direction: row;    
    overflow: auto;
    padding: 2rem 2rem 2rem 0;
    background-color: #EEF3F6;
}

#honey-scroll .product {
    margin: 0 0 0 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 7px;    
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
}

#honey-scroll .product:hover {
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
}

#honey-scroll .product:active {
    opacity: 0.8;
}

#honey-scroll .product-img {
    width: 250px;
    border-radius: 7px;
}

#honey-scroll .product-text {
    margin-top: 1rem;
}

#honey-scroll .product-price {
    font-size: 0.9rem;
    color: #009400;
}

#products-scroll-container .honey-scroll-btn {
    width: 150px;
    height: 40px;
    border: 2px solid #7D7277;
    border-radius: 7px;
    background-color: #EEF3F6;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 1px 1px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

#products-scroll-container .honey-scroll-btn:hover {
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
    transition: box-shadow 0.3s;
}

#products-scroll-container .honey-scroll-btn:active {
    box-shadow: 5px 5px 15px rgb(156, 156, 156);
    transform: translate(0, -1px);
}

@media (max-width: 768px) {
    header nav ul{
        display: none;
    }

    header .ham-menu {
        display: block;
    }

    header .logo h4{
        display: none;
    }

    #welcome-text-container {
        display: block;
    }

    #welcome-text-container .welcome {
        width: 90%;
        padding: 0;
    }
}